@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
body {
  font-family: 'Montserrat', sans-serif; }

h3 {
  font-size: 42px;
  margin-bottom: 2rem; }

.btn {
  text-transform: uppercase;
  letter-spacing: 0.095rem;
  font-weight: 500;
  box-shadow: inset 0 0 0 2px #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn:hover {
    box-shadow: inset 0 0 0 0 #53a7ea; }
  .btn.btn-default {
    background-image: none;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 0;
    text-shadow: none; }
    .btn.btn-default:hover {
      background-color: black;
      color: white; }
  .btn.btn-lg {
    font-size: 14px;
    padding: 20px 40px; }

.panel {
  background-color: #fafafa;
  margin-bottom: 0; }
  .panel .panel-body {
    padding: 20px 40px; }
  .panel dl {
    margin-bottom: 0; }
  .panel dd, .panel dt {
    line-height: 2.5;
    text-align: left; }
    .panel dd button, .panel dt button {
      margin-left: 20px; }

a.back-link h3 {
  font-size: 22px; }
  a.back-link h3 i {
    font-size: 17px;
    vertical-align: middle;
    margin-top: -5px; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 18px;
  padding-left: 26px; }

.table > thead > tr > td, .table > thead > tr > th {
  background-color: black;
  color: white;
  letter-spacing: 0.085rem; }

td a {
  font-weight: 600;
  color: #002e64; }

td a:before {
  font-family: 'FontAwesome';
  font-size: 16px;
  content: "\f105";
  display: inline-block;
  width: 11px;
  height: 20px; }

input.form-control {
  height: 52px;
  padding: 0px 26px; }

a {
  color: #002e64; }

a:focus, a:hover {
  color: #1C85FF;
  text-decoration: none; }
